extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros",class="img-fluid")
            .col-md-7
                h1=pagina

                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pharetra imperdiet mi eu imperdiet. Donec id bibendum est. Suspendisse lacinia orci non efficitur tempus. Mauris egestas enim a suscipit tempus. Curabitur posuere tortor aliquet massa suscipit, in scelerisque risus pellentesque. Phasellus pellentesque felis magna, nec porta sapien dignissim sed. 

                p Integer quis lectus sed dui lacinia pellentesque. Donec at egestas libero. Cras dignissim in eros nec viverra. Donec hendrerit nisl et pharetra rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc aliquet ligula vitae ante blandit luctus. Donec vitae erat vel augue commodo sagittis ut eget tortor. Donec congue

                p Curabitur imperdiet eleifend facilisis. In fermentum dolor velit, non vulputate erat rutrum quis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Maecenas et odio vitae dolor vestibulum cursus. Quisque eleifend fermentum risus a placerat. Suspendisse non velit nisi. Ut congue dolor eget cursus tristique. Integer dignissim diam diam, sed mollis magna dignissim vel. Nam nec urna ut elit varius aliquet.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Integer quis lectus sed dui lacinia pellentesque. Donec at egestas libero. Cras dignissim in eros nec viverra. Donec hendrerit nisl et pharetra rutrum.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Integer quis lectus sed dui lacinia pellentesque. Donec at egestas libero. Cras dignissim in eros nec viverra. Donec hendrerit nisl et pharetra rutrum.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores precios 
                    p Integer quis lectus sed dui lacinia pellentesque. Donec at egestas libero. Cras dignissim in eros nec viverra. Donec hendrerit nisl et pharetra rutrum.